<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="robots" content="{{page.index}}index, {{page.follow}}follow" />
<meta name="description" content="Code for Farmers" />
<meta name="author" content="Code for Farmers" />
<meta name="keywords" content="Code for Farmers" />
<!--<meta name="p:domain_verify" content="465dc3baf27b0caa31c05aeab0c7c0ac" />
<meta name="google-site-verification" content="eytWUbBUrmEOY0zSaUfJre-1Aw_i0MOSJf18X2zNKlc" />-->

<!-- To Add favicon -->

<link rel="favicon" href="{{ site.github_project_name }}/images/favicon/favicon.ico">
<link rel="apple-touch-icon" href="{{ site.github_project_name }}/images/favicon/favicon-32.png">
<link rel="icon" href="{{ site.github_project_name }}/images/favicon/ios-256.png" sizes="256x256" type="image/png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.github_project_name }}/images/favicon/ios-152.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.github_project_name }}/images/favicon/ios-144.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.github_project_name }}/images/favicon/ios-120.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.github_project_name }}/images/favicon/ios-114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.github_project_name }}/images/favicon/ios-72.png" />
<link rel="apple-touch-icon-precomposed" href="{{ site.github_project_name }}/images/favicon/ios-57.png" />

<!-- fonts -->
<link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

<!-- Fonts Awesome -->
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- Bootstrap Core CSS -->
<link href="{{ site.github_project_name }}/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="{{ site.github_project_name }}/css/style.css" rel="stylesheet">


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->