<!-- How it Works Section -->
<section id="howitworks">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">How It Works</h2>
        <p class="text-muted">We create and deploy open-source software for local farmers. We convene discussions around data formats for important issues. And we use the power of our network, across programs, to help farmers tackle some of the most complex challenges they face..</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4"> <span class="fa-stack fa-4x"> <i class="fa fa-circle fa-stack-2x text-primary"></i> <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> </span>
        <h4 class="service-heading">Step 1</h4>
        <p class="text-muted">Super team mates are chosen. Those who could design and code, get work done on projects, keep projects on track, and working in community.</p>
      </div>
      <div class="col-md-4"> <span class="fa-stack fa-4x"> <i class="fa fa-circle fa-stack-2x text-primary"></i> <i class="fa fa-laptop fa-stack-1x fa-inverse"></i> </span>
        <h4 class="service-heading">Step 2</h4>
        <p class="text-muted">Sharing your responsibilities, make a plan - what you want to do, and map out where you want to go. Work are done in open and permissionless. Persons should be generative, do collective action, not complaining about issues, but help in fixing. Fellows should think what we can do together, that can't be done alone.</p>
      </div>
      <div class="col-md-4"> <span class="fa-stack fa-4x"> <i class="fa fa-circle fa-stack-2x text-primary"></i> <i class="fa fa-lock fa-stack-1x fa-inverse"></i> </span>
        <h4 class="service-heading">Step 3</h4>
        <p class="text-muted">Hold meetings once a month, keep track of all projects, one should record or write about all meetings. Discuss in open about on going projects or new initiatives. By connecting people, organizations, resources, tools, and networks to build for farmtech.</p>
      </div>
    </div>
  </div>
</section>
