<!-- Header -->
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">
      	<div class="thumbnail">
      		<img src="{{site.github_project_name}}/images/logos/cff-white-logo-for-slider.png" class="img" alt="Code for Farmers"/>
      		
      			<div class="caption post-content">
      				<div class="wrapper">
      				<h3 class="section-subheading"> Farmers need some help! </h3>
      				<p class="section-subtext"> We are a Code for Farmers green panther, we’re volunteers that contribute our talents toward improving the way farmers use the technology.  We believe in building open source technology and organise a network of people dedicated to making services simple, effective, and easy to use. Provides farmtech companies with right connections to navigate the farmtech echosystem.  </p>
      				
      				</div>
      				<div>
      					<h4 class="service-heading">We do a lot of things together, grow the farmtech along with your generous ideas, stories, and tech geeks. Vision ideas and get help formmtech and experts. Learn about smart farmers.</h4>
      					
              
                <br><br>
            			
            		</div>
      			</div>
      		
      	</div>
      </div>
    </div>
  </div>
  <a href="#howitworks" class="page-scroll btn btn-xl"></a> 
</header>